<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Celebrity Waiters</a>
    <ul>
      <li><a href="/authors">Waiters</a></li>
      <li><a href="/authors/new">Add Waiter</a></li>
      <li><a href="/books">Events</a></li>
      <li><a href="/books/new">Add Events</a></li>
    </ul>
  </nav>
</header>